<div class="card m-auto " style="max-width: 500px !important;margin-top: 100px !important;">
    <div class="card-header">
        Seja bem vindo !
    </div>
    <div class="card-body">
        <div class="row my-2">
            <div class="col-12">
                <label class="form-label">Email</label>
                <input class="form-control" type="email">
            </div>
        </div>

        <div class="row my-2">
            <div class="col-12">
                <label class="form-label">Senha</label>
                <input class="form-control" type="password" maxlength="20">
            </div>
        </div>

        <a class="link-secondary mb-4 fs-8">Cadastrar-se</a>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-sm">Entrar</button>
    </div>

</div>